
body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        #robotCanvas {
            border: 1px solid black;
        }

.custom-btn {
        padding: 10px 20px; 
    }